In [1]:
# Using For loop
sum = 0
prod = 1
for i in range(1,11):
    sum += i
    prod *= i
print(sum,prod)

55 3628800

In [5]:
#using while loop
sum1 = 0
prod1 = 1
i = 1
while i<=10:
    sum1 += i
    prod1 *= i
    i +=1
print(sum1,prod1)

55 3628800

In [1]:
l =list(range(1,101))
#using while loop
l_for = []
for i in l:
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        l_for.append(i)
    
l_while = []
i = 1
while i<=100:
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        l_while.append(i)
    i += 1


print(l_for,l_while)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100] [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [20]:
s = 'I want to become a data scientist'
s = s.lower()
#s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')
count = 0
for i in s:
    if i == 'a' or i == 'e' or i == 'i' or i =='o' or i == 'u':
        count += 1
print (count)

12

In [ ]:
unit = int(input("Enter the unit used"))
bill = 0
if unit <=100:
    bill = unit * 4.5
elif unit <= 200:
    bill = 4.5 * 100 + (unit-100) * 6
elif unit <= 300:
    bill = 4.5 * 100 + 6 *100 + (unit-200) * 10
else:
    bill = 4.5 * 100 + 6 * 100 + 10 * 100 + (unit -300) * 20
    
print(bill)